### index.html

{% extends "base.html" %}

{% block title %}API Interface{% end %}

{% block content %}

    <h1>Displaying all keys from the database</h1>

    <ul>

    {% for k, v in db.items() %}
        <li>{{ k }}: {{ v }}</li>
    {% end %}

    </ul>

    <div class="row">
        <div class="col-md-6">
            <input type="ẗext" class="form-control" id="submit-data">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <button type="submit" class="btn btn-default" id="submit-post">POST</button><button type="submit" class="btn btn-default" id="submit-put">PUT</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <button type="submit" class="btn btn-default" id="submit-compact">Compact Database</button>
        </div>
    </div>
{% end %}